
    <p class="fs-2 text-center">Cadastro de Cliente</p>
    <form action="" class="mt-5">
        <div class="mb-3 col-md-6">
            <label for="exampleFormControlInput1" class="form-label">Nome</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3 col-md-6">
            <label for="exampleFormControlInput1" class="form-label">BI</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3 col-md-6">
            <label for="exampleFormControlTextarea1" class="form-label">Data de Cadastro</label>
            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="yyyy/mm/dd">
       
        </div>
    </form>
