    <p class="fs-2  mt-5">Cadastro de Cliente</p>
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 col-md-6" *ngIf="cliente.idCliente">
            <label for="exampleFormControlInput1" class="form-label">id</label>
            <input type="number" class="form-control" id="exampleFormControlInput1"
            [ngModel]="cliente.idCliente" name="idCliente" disabled="true">
        </div>
        <div class="mb-3 col-md-6">
            <label for="exampleFormControlInput1" class="form-label">Nome {{cliente.nome}}</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" 
            placeholder="Seu nome" 
            [(ngModel)]="cliente.nome" name="nome">
        </div>
        <div class="mb-3 col-md-6">
            <label for="exampleFormControlInput1" class="form-label">BI</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" 
           placeholder="000000XX00"  [(ngModel)]="cliente.bi" name="bi">
        </div>
        <div class="mb-3 col-md-6">
            <label for="exampleFormControlTextarea1" class="form-label">Data de Cadastro</label>
            <input type="date" class="form-control" id="exampleFormControlInput1" 
            placeholder="yyyy/mm/dd" [(ngModel)]="cliente.dataCadastro" name="dataCadastro">
        </div>
        <div class="d-grid gap-2 col-md-6">
          <button type="submit" class="btn btn-success">Button</button>
        </div>
    </form>
